//Main Code
.container {
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.lenghtInput {
  .container {
    margin-top: 20px;
  }
}

#ClickArea {
  background: white;
}

